/ .notification
/   - if flash.any?
/     .flash-message
/       %p.flash-message__notice= notice
/       %p.flash-message__alert= alert

.chat-side
  = render partial: 'layouts/chatside'

.main-site
  .main-site__header
    .main-site__header--info
      .group
       -#{current_user.groups.find(params[:id]).name}
      %p members:ccc,sss,zzz
    .main-site__header--btn
      %a{ href: '', id: 'edit' }<edit
  .main-site__body
    .main-site__body--messages
      %ul
      %li.message
        %p.message__name<
          sample NAME
          %span<
            2017/09/11 00:00:00
        %p.message__text<
          test test test test
      %li.message.my-message
        %p.message__name<
          sample NAME2
          %span<
            2017/09/11 00:00:00
        %p.message__text<
          test test test test 2
      %li.message
        %p.message__name<
          sample 名前
          %span<
            2017/09/11 00:00:00
        %p.message__text<
          テストテストテストテストテスト

  .bottoms
    %form
      %input.textarea{:name => "body", :placeholder => "type a message", :type => "text"}/
      %input.submit{:type => "submit", :value => "Send"}/
