*, *:before, *:after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
         -o-box-sizing: border-box;
        -ms-box-sizing: border-box;
            box-sizing: border-box;
}
.notification {
  width: 100vw;
  background-color: $blue;
  box-sizing: border-box;
  .flash-message p {
    color: $white;
    text-align: center;
  }
}

.chat-side {
  height: 100vh;
  width: 300px;
  float: left;
  .chat-side__user {
      height: 120px;
      background-color: red;
      padding:0 20px 0 20px;
    &--name {
      display: inline-block;
      line-height: 120px;
      float: left;
      a {
        font-size: 20px;
        font-weight: bold;
        color: $white;
        &:link  {
        text-decoration: none;
        }
      }
    }

    &--btn1, &--btn2 {
      float: right;
      color: $white;
      line-height: 120px;
      .fa {
        display: inline-block;
        padding: 0 0 0 10px;
        color: $white;
      }
    }
  }
}

  .chat-side__groups {
      height: calc(100vh - 120px);
      background-color: #2f3e51;
      color: $white;
      padding: 46px 20px;
    &-list {
      display: block;
      box-sizing: border-box;
      padding: 0 20px;
      clear: both;
    }
.chat-side__groups-name {
  a {text-decoration: none;
    color: $white;
    font-size: 15px;
    padding: 20px 0 5px 0;
  }
}
  .chat-side__groups-message
  .chat-side__groups,a {
    color: $white;
    font-size: 11px;
    text-decoration: none;
    padding: 5px 0 20px;
  }
  }


.main-site {
  height: 100vh;
  width: calc(100vw - 300px);
  float: right;
  list-style: none;

  .main-site__header {
    height: 120px;

    .main-site__header--info {
      margin: 46px 0 0 40px;
      float: left;
      .group {
        font-size: 20px;
        color: #333333;
      }
      .memberlist {
      ul {
        li {
          font-size: 12px;
          color: #999999;
          margin-right: 10px;
          padding: 10px 0;
          float: left;
          list-style: none;
          }
        }
      }
    }

    .main-site__header--btn {
      height: 50px;
      width: 100px;
      border: 1px solid $blue;
      box-sizing: border-box;
      padding: 8px 20px;
      color: $blue;
      margin: 35px 20px;
      float: right;
      text-align: center;
      a {
      font-size: 20px;
      text-decoration: none;
      color: $blue;
      }
    }
  }
}
  .main-site__body--message {
    height: calc(100vh - 120px - 90px);
    clear:both;
    border-top: 2px solid $gray_border;
    font-size: 15px;
    padding: 46px 40px;
    overflow: scroll;
    .message__box {
      margin-bottom: 40px;
    }
    .message__box--inner {
      margin-bottom: 10px;
      .message__name{
        margin-right: 10px;
        float: left;
      }
      .message__date {
        font-size: 11px;
        color: $gray;
      }
    }
  .main-site__body--messagebottom {
    p.message__text {
      margin: 5px 0 10px 40px;
    }
  }
}


  .main-site .bottoms {
    background-color: #DCDCDC ;
    height: 90px;
    padding: 20px 40px;
    position: relative;
    .textarea {
      width: calc(100% - 120px);
      height: 50px;
      padding: 0 20px;
      border: none;
      float: left;
    }
    .imageicon {
      background-color: $white;
      float: left;
      line-height: 50px;
      padding-right: 20px;
      .file_image {
        display: none;
      }
    }
    .submit {
      background-color: $blue;
      color: $white ;
      height: 50px;
      padding: 0 20px;
      border-style: none;
      font-size: 20px;
      margin-left: 1px;
      position: absolute;
      top: 20px;
      bottom: 0px;
      right: 0px;
      left: 90%;
    }
  }
